# Virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
backend/.env

# Secret keys (IMPORTANT)
backend/gee-key.json

# Database files
*.db

# IDE
.vscode/